<div class="games_content">
    <div class="game_info_cap ">
        <a href="<%= item.storeLink %>">
            <img class="game_capsule" src="https://cdn.cloudflare.steamstatic.com/steam/apps/<%= item.appID %>/capsule_184x69.jpg">
        </a>
    </div>
    <div class="game_info_details">
        <div class="game_name">
            <a class="whiteLink" href="<%= item.storeLink %>"><%= item.name %>
            </a>
        </div>
        <div class="hours_played">
            <% if (item.hoursLast2Weeks) { %>
                过去 2 周 <%= item.hoursLast2Weeks %> 小时 / 
            <% } %>
            总时数 <%= item.hoursOnRecord %> 小时</div>
        <div class="button_controls">
            <a class="button_item" href="<%= item.storeLink %>">
                <div class="menu_ico">
                    <img src="https://steamcommunity-a.akamaihd.net/public/images/skin_1/ico_www.png" width="16" height="16" border="0">
                </div>
                商店			
            </a>
            <a class="button_item" href="<%= item.statsLink %>">
                <div class="menu_ico">
                    <img src="https://steamcommunity-a.akamaihd.net/public/images/skin_1/ico_stats.png" width="16" height="16" border="0">
                </div>
                统计	
            </a>
            <a class="button_item" href="<%= item.globalStatsLink %>">
                <div class="menu_ico">
                    <img src="https://steamcommunity-a.akamaihd.net/public/images/skin_1/ico_stats.png" width="16" height="16" border="0">
                </div>
                全球统计	
            </a>


        </div>
                      
    </div>

</div>