<style>
    <%- include("index.css")-%> 
</style>

<div class="DefaultTheme">

        <div class="profile_page">
            <div class="profile_header" >
                <div class="profile_content">
    
                    <div class="personal_name">
                        <a href="https://steamcommunity.com/profiles/<%= steamId %>/" target="_blank">
                            <span><%= personalName %></span>
                        </a>
                        
                    </div>
                    <div class="player_avatar">
                        <a href="https://steamcommunity.com/profiles/<%= steamId %>/" target="_blank">
                            <img src="<%= playerAvater %>">
                        </a>
                    </div>
                    <div class="profile_header_badgeinfo">
                        <a href="https://steamcommunity.com/profiles/<%= steamId %>/badges" target="_blank">
                            <div class="profile_badge">
                                <div class="player_level">
                                    <span><%= playerLevel %></span>
                                </div>
                                级
                            </div>
                        </a>
                    </div>
    
                    <div class="head_profile_summary">
                        <div class="head_name_spcer">
                            <span >&nbsp;</span>
                        </div>
                        <div class="header_spacer">
                            <span >&nbsp;</span>
                        </div>
                        <div class="profile_summary">
                            <%= profileSummary%>
                        </div>
                        
                    </div>
                    
                    <div style="clear:both"></div>
                </div>
                <div class="status_info_header">
                    <div class="status_info">
                        <%= steamState%>
                    </div>
                </div>
                
            </div>
        
            <div class="games_container">
                <% games.forEach(function(item){ %>
                <%- include("game.ejs",{item:item}) -%>
                <% }); %>
                
                
            </div>
            
        </div>
    </div>
<script>
        <%- include("index.js") -%>
</script>
